#success_trigger{
    background: #32ba7c;
    position: fixed;
    top:20%;
    left:20%;
}
#error_trigger{
    background: #ff3636;
    position: fixed;
    top:20%;
    left:60%;
}

#success{
    display: none;
    position: fixed;
    top:20%;
    left:10%
}


.popup-content{
   /* display: block; */
    width: 326px;
    height: 408px;
    background:transparent;
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
    border-radius: 25px;
}
.imgbox{
    text-align: center;
}
.img{
    width: 112px;
    margin-top: 40px;
}
.title{
    font-weight: 500;
    font-size: 24px;
   letter-spacing: 0.05em;
   text-align: center;
   margin: auto;
}
#success .title{
   color: #32ba7c;
}

.para{
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;


}
.button{
    width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
}
#s_button{
    background: #32ba7c;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Login_password_alert{
    display: none;
    border: 1px solid red;
    color: red;
    width:88%;
    margin-left: 10px;
    border-radius: 20px;
   gap:20px
}
#login_success{
    display: none;
    position: fixed;
    top:20%;
    left:15%
}
#para{
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;


}